@use '../../../../../../styles/mixins' as *;
@use '../../../../../../styles/variables' as *;

.form-textarea:focus,
.form-input:focus,
.subtask-input:focus {
  border-color: $light-blue;
}

.error {
  margin-top: -10px;
  color: $error-muted;
  font-size: 16px;
  font-weight: 300;
}

.error-border,
.error-border:focus {
  border: 2px solid $error-muted;
}
