@use './../../../../styles/mixins' as *;
@use './../../../../styles/_variables' as *;

section {
  margin-bottom: 24px;
}

button {
  border: none;
  background: none;
}

.upload-info-bar {
  @include dFlex($jc: space-between);
  min-height: 28px;

  small {
    color: $grey;
    margin-bottom: 4px;
    align-self: flex-end;
  }

  button {
    @include dFlex($g: 4px);
    font-size: 16px;
    padding: 4px;

    img {
      height: 18px;
      width: 18px;
      background-color: none;
    }
  }
}

.dropzone {
  @include dFlex();
  font-size: 16px;
  width: 100%;
  border: 1.5px dashed $grey;
  border-radius: 12px;
  padding: 20px;
  resize: none;
  color: $grey;
  gap: 8px;
  background-color: $hover-grey;
  margin-bottom: 12px;

  img {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: none;
  }
}

#filepicker {
  display: none;
}

.preview-gallery {
  @include dFlex($jc: flex-start, $g: 8px);
  padding-bottom: 8px;
  overflow-x: auto;

  .img-container {
    @include dFlex($ai: flex-start, $fd: column);
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    min-width: 120px;

    img {
      width: 120px;
      height: 70px;
      object-fit: cover;
    }

    p {
      width: 120px;
      padding: 4px 8px;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.wrong-format {
  color: $error-red;
}
