<section>
    <p>Attachments</p>

    <div class="upload-info-bar">
        <small>Allowed files are JPEG, JPG and PNG</small>
        @if (imagesForUpload.length > 0) {
        <button type="button" (click)="deleteAllImagesFromForm()">
            <img src="./img/icons/delete_contact.svg" alt="trash">
            Delete all
        </button>
        }
    </div>

    <div class="dropzone" dropzone="">
        <span>Drag a file or browse</span>
        <img role="input" src="./img/icons/plus-upload.svg" alt="add image" (click)="filepicker.click()">
        <input type="file" name="filepicker" id="filepicker" #filepicker accept="image/JPEG, image/PNG">
    </div>


    <app-attachments-gallery [imagesForUpload]="imagesForUpload" [deleteIsEnabled]="true"
        (deleteSingelImage)="deleteSingelImage($event)"></app-attachments-gallery>


    @if (errorWrongFormat) {
    <div class="wrong-format">
        <p><strong>This file format is not allowed!</strong></p>
        <p>You can only upload JPEG, JPG and PNG.</p>
    </div>
    }

    @if (errorToManyImages && imagesForUpload.length > 4) {
    <div class="wrong-format">
        <p><strong>Too many images</strong></p>
        <p>You can upload up to 5 images.</p>
    </div>
    }
</section>