<section>
    <p>Attachments</p>

    <div class="upload-info-bar">
        <small>Allowed files are PNG and JPEG</small>

        @if (thereAreUploads) {
        <button type="button">
            <img src="./img/icons/delete_contact.svg" alt="trash">
            Delete all
        </button>
        }

    </div>

    <div class="dropzone" dropzone="">
        <span>Drag a file or browse</span>

        <img role="input" src="./img/icons/plus-upload.svg" alt="add image" (click)="filepicker.click()">

        <input type="file" name="filepicker" id="filepicker" #filepicker>
    </div>

    @if (thereAreUploads) {
    <div class="preview-gallery" #previewGallery>

        @for (img of uploadImages; track $index) {
        <div>
            <img src="{{img.base64}}" alt="image">
            <p>{{img.filename}}</p>
        </div>
        }

    </div>
    }
</section>