@use './../../../../styles/mixins' as *;
@use './../../../../styles/_variables' as *;

section {
  margin-bottom: 24px;
}

button {
  border: none;
  background: none;
  transition: background-color 100ms ease-in-out;

}

.upload-info-bar {
  @include dFlex($jc: space-between);
  min-height: 28px;

  small {
    font-size: 14px;
    color: $a11y-grey;
    margin-bottom: 4px;
    align-self: flex-end;
  }

  button {
    @include dFlex($g: 4px);
    font-size: 16px;
    padding: 4px;
    border-radius: 10px;
    margin: 4px;
    font-weight: 500;

    img {
      height: 24px;
      width: 24px;
      background-color: none;
    }

    &:hover {
      background-color: $lighter-grey;
    }
  }
}

.dropzone {
  @include dFlex();
  font-size: 16px;
  width: 100%;
  border: 2px dashed $a11y-grey;
  border-radius: 12px;
  padding: 20px;
  resize: none;
  color: $a11y-grey;
  gap: 8px;
  background-color: $white;
  margin-bottom: 12px;

  button {
    @include dFlex();
    height: 28px;
    width: 28px;
    border-radius: 50%;

    img {
      cursor: pointer;
      height: 24px;
      width: 24px;
      background-color: none;
    }

    &:hover {
      background-color: $lighter-grey;
    }
  }
}

#filepicker {
  display: none;
}

.wrong-format {
  color: $error-muted;
  font-weight: 300;
  margin-bottom: 8px;

  strong {
    font-weight: 600;
  }
}
