<div class="preview-gallery">
    @for (img of imagesForUpload; track $index) {
    <div class="img-container">
        <button class="perview-img-btn" type="button" [attr.aria-label]="'Open ' + img.filename + ' image'"
            (click)="imageViewerStateService.imageViewerIsActive.set(true); setImagesToView($index)">
            <img src="{{img.base64}}" alt="">

            @if (downloadIsEnabled) {
            <p title="{{img.filename}}">{{img.filename}}</p>
            } @else {
            <p title="{{img.oldFilename}}">{{img.oldFilename}}</p>
            }
        </button>

        <div class="imageButtonOverlay">
            @if (deleteIsEnabled) {
            <button [attr.aria-label]="'Delete ' + img.filename + ' image'" (click)="sendImageToDeleteToParent(img, $event);" type="button">
                <img aria-hidden="true" class="delete-icon" src="./img/icons/delete-white.svg" alt="">
            </button>
            }
            @if (downloadIsEnabled) {
            <button [attr.aria-label]="'Download ' + img.filename + ' image'" type="button" (click)="downloadFileService.base64ToFile(img.base64, img.mimeType , img.filename)">
                <img aria-hidden="true" class="download-icon" src="./img/icons/download-white.svg" alt="">
            </button>
            }
        </div>
    </div>
    }
</div>