@use './../../../../styles/mixins' as *;
@use './../../../../styles/_variables' as *;

button {
  border: none;
  background: none;

  img {
    pointer-events: none;
  }
}

.preview-gallery {
  @include dFlex($jc: flex-start, $g: 8px);
  padding-bottom: 8px;
  overflow-x: auto;

  .img-container {
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    border: 1px solid $lighter-grey;
    min-width: 120px;

    &:has(:hover, :focus-within) .imageButtonOverlay {
      opacity: 1;
    }
  }
}

.perview-img-btn {
  @include dFlex($ai: flex-start, $fd: column);
  // outline: none;

  &:hover,
  :focus-within + .imageButtonOverlay {
    opacity: 1;
  }

  > img {
    width: 120px;
    height: 70px;
    object-fit: cover;
  }

  > p {
    width: 120px;
    padding: 4px 8px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.imageButtonOverlay {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  @include dFlex($jc: flex-end, $ai: flex-start);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  pointer-events: none;

  &:hover,
  :focus-within {
    opacity: 1;
  }

  > button {
    @include dFlex();
    width: 28px;
    height: 28px;
    margin: 4px;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
    pointer-events: all;

    .delete-icon {
      width: 18px;
      height: 20px;
    }

    .download-icon {
      width: 24px;
      height: 24px;
    }

    &:hover,
    :focus {
      background-color: $light-blue;
    }
  }
}

@media (max-width: 768px) {
  .imageButtonOverlay {
    opacity: 1;
    background-color: transparent;

    > button {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
