<section role="dialog" aria-modal="true" aria-label="image viewer" cdkTrapFocus>
    @let i = imageViewerStateService.indexCurrentImage();
    @let img = imagesToView[i];
    <div>
        <header>
            <div>
                <span>{{img.filename}}</span>
                <span>{{calcByteIntoKiloByte(img.size)}} KB</span>
            </div>

            <div>
                <button aria-label="download image" type="button" #downloadButton
                    (click)="downloadFileService.base64ToFile(img.base64, img.mimeType, img.filename)">
                    <img aria-hidden="true" class="download-btn" src="./img/icons/download-white.svg" alt="">
                </button>
                <button aria-label="close image viewer" type="button" (click)="imageViewerStateService.imageViewerIsActive.set(false)">
                    <img aria-hidden="true" src="./img/icons/close-button-white.svg" alt="">
                </button>
            </div>
        </header>

        <img src="{{img.base64}}" alt="{{img.filename}} {{calcByteIntoKiloByte(img.size)}} KiloByte">

        @if (imagesToView.length > 1) {
        <nav>
            <button type="button" (click)="perviousImage(i)" aria-label="previous image">
                <img aria-hidden="true" src="./img/icons/arrow-left-white.svg" alt="">
            </button>

            <button type="button" (click)="nextImage(i)" aria-label="next image">
                <img aria-hidden="true" src="./img/icons/arrow-right-white.svg" alt="">
            </button>
        </nav>
        }
    </div>
</section>