@use './../../../styles/mixins' as *;
@use './../../../styles/_variables' as *;

section {
    @include dFlex();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0.367);
}