@use './../../../styles/mixins' as *;
@use './../../../styles/_variables' as *;

.image-viewer {
  @include dFlex();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  > div {
    overflow: hidden;
    @include dFlex($fd: column);
    background-color: rgba(102, 116, 135, 0.825);
    width: min(100%, 800px);
    border-radius: 12px;

    img {
      max-height: min(80vh, 800px);
      width: 100%;
      object-fit: contain;
    }

    @media (max-width: 800px) {
      border-radius: 0;
    }
  }
}

header {
  @include dFlex($jc: space-between);
  width: 100%;
  height: 48px;
  z-index: 1;
  background-color: $blue;
  padding: 12px 16px;
  flex: 1 1 auto;
  min-width: 0;

  .img-info {
    justify-content: flex-start;
    gap: 0;
    flex: 0 1 auto;
    min-width: 160px;

    > span:first-child {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 0;
    }
    > span {
      white-space: nowrap;
      margin-right: 12px;
    }
  }

  > div {
    @include dFlex($g: 4px);

    span {
      color: $white;
    }

    button {
      border: none;
      border-radius: 50%;
      background-color: transparent;
      @include dFlex();
      height: 32px;
      width: 32px;

      .download-btn {
        height: 26px;
        width: 26px;
      }

      img {
        height: 32px;
        width: 32px;
      }

      &:hover {
        background-color: $light-blue;
      }
    }
  }
}

nav {
  margin-top: 24px;
  @include dFlex($jc: space-between);
  position: absolute;
  width: 100%;
  padding: 20px;

  button {
    border-radius: 50%;
    border: none;
    @include dFlex();
    background-color: $blue;
    width: 40px;
    height: 40px;

    img {
      height: 22px;
      width: 28px;
    }

    &:hover {
      background-color: $light-blue;
    }
  }
}
