<nav>
    <img src="./img/join-logo-nav.svg" alt="">

    <div class="link-wrapper">
        @if (isLoggedIn) {
        <ul class="main-pages-container">
            <li>
                <a class="nav-link--summary" routerLink="/summary" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Summary</a>
            </li>
            <li>
                <a class="nav-link--add-task" routerLink="/addTask" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: false }">Add Task</a>
            </li>
            <li>
                <a class="nav-link--board" routerLink="/board" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Board</a>
            </li>
            <li>
                <a class="nav-link--contacts" routerLink="/contacts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Contacts</a>
            </li>
        </ul>
        } @else {
        <ul class="logged-out-nav-container">
            <li>
                <a class="nav-link--login" routerLink="/auth/login" routerLinkActive="active">Log In</a>
            </li>
            <li class="legal-nav-mobile">
                <a class="nav-link--privacy" routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
                <a class="nav-link--legal" routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
            </li>
        </ul>
        }

        <ul class="legal-pages-container">
            <li>
                <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
            </li>
            <li>
                <a routerLink="/legal-notice" routerLinkActive="active">Legal Notice</a>
            </li>
        </ul>
    </div>
</nav>